* {
    box-sizing: border-box
}

.valid__message{
    display: none;
}


/* Add padding to containers */
.container {
    padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus  {
    background-color: #ddd;
    outline: none;
}

/*input[type=password]:focus~p {*/
/*    color: red;*/
/*    margin: 0 0 0 0;*/
/*    display: block;*/
/*}*/
/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/*.registerbtn:active input[type=password]:invalid~p {
    color: red;
    margin: 0 0 0 0;
    display: block;
}*/

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}

.error__message{
    color: red;
    text-align: center;
}

.main__message{
    font-size: xxx-large;
}

.exit__btn {
    background-color: #cd0f0f;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.exit__btn:hover {
    opacity: 1;
}